extends partials/layout 

block link
  link(rel="stylesheet", href="/public/style/404.css")

block content
  .jumbotron
    .container
      .err
        h1 404
        p.lead Oups, on dirait qu'il n'y a rien a voir ici... 