<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='author', content='Jaymun723')
    title Ez
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="/public/style/ez.css")
  body
    h1 Ez