extends partials/layout

block content
  .jumbotron
    p
      h1 Jaymun723
      p.lead Bonjour, (ouais je comme sérieusement mais bon) je suis une personne 
        br
        | bretonne entièrement dévelloper en 
        a(href="https://nodejs.org/") Node.JS 
        br
        | . J'aime aussi aussi jouer à des jeux de type vidéo. 
        br
        a(href="#") #Nodejs
        | 
        a(href="#") #SombraMain
        | 
        a(href="#") #Absolver
        | 
        a(href="#") #Bretagne
  .row
    .col-lg-4
      img.rounded-circle(src='/public/images/twitter.svg', alt='Twitter icon', width='140', height='140')
      h2 Mon twitter
      p
        | J'y like, RT et teweet... Des fois :D
      p
        a.btn.btn-secondary(href='https://twitter.com/jaymun723', role='button') Me follow »
    .col-lg-4
      img.rounded-circle(src='public/images/github.svg', alt='Github icon', width='140', height='140')
      h2 Mon github
      p
        | J'y poste plein de plein de chose utile comme le 
        a(href="https://github.com/jaymun723/jaysite") code source de ce site
        |  ou comme 
        a(href="https://github.com/jaymun723/containscord") ContainScord 
        | qui permet de créer des bots discord facilement !
      p
        a.btn.btn-secondary(href='https://github.com/jaymun723', role='button') Me donner des étoiles »
    .col-lg-4
      img.rounded-circle(src='/public/images/youtube.svg', alt='Youtube icon', width='140', height='140')
      h2 Ma chaîne youtube
      p
        | La légende raconte que des vidéos y apparaîtront...
      p
        a.btn.btn-secondary(href='https://www.youtube.com/channel/UCF8_9KtS2kX8jtFckS1GdsQ', role='button') S'abboner »