extends partials/layout 

block content 
  .list-group
    a.list-group-item(href="/trucs/ez")
      h4.list-group-item-heading Ez
      p.list-group-item-text Tous simplement pour Ez.
    a.list-group-item(href="https://w3schools.com/")
      h4.list-group-item-heading W3Schools
      p.list-group-item-text Très bon site pour tous ce qui est dévellopement web.